@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body{background-color: hsl(217, 54%, 11%);
    margin: auto;
    margin-top: 3%;
    margin-left: 35%;
    font-family: 'Outfit', sans-serif;}
    

.card_div{background-color: hsl(216, 50%, 16%);
height: 540px;
width: 300px;
border-radius: 4%;
padding: 25px;}

.img_div{background-image: url(images/image-equilibrium.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain, cover; 
    position: relative;
height: 300px;
width: 300px;
border-radius: 3%;}

.card_hover_effect{height: 300px;
width: 300px; }

.card_hover_effect:hover{  
    border-radius: 3%; 
    background-color: rgba(0, 255, 255, 0.5);
}

#display{display: none;
position: relative;
left: 125px;
top: 125px;}


.img_div:hover{cursor: pointer;}
    

.heading_div{color:hsl(0, 0%, 100%);
font-weight: 600;}

.heading_div:hover{color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.para_div{color: hsl(215, 51%, 70%);
margin-bottom: 30px;
font-weight: 400;}

.flex_div{display: inline-flex;
width: 100%;
margin-bottom: 15px;}

.eth_div{background-image: url(images/icon-ethereum.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
height: 18px;
width: 13px;}

.eth{padding-left: 20px;
color: hsl(178, 100%, 50%);
font-weight: bolder;}

.time_div{display: inline-flex;
    background-image: url(images/icon-clock.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
height: 18px;
width: 18px;
margin-left: 170px;
font-weight: normal;}

.time{margin-left: 25px;
color: hsl(215, 51%, 70%);}

.days{padding-left: 5px;
    color: hsl(215, 51%, 70%);}

.left{padding-left: 5px;
    color: hsl(215, 51%, 70%);}

.line{color: hsl(215, 32%, 68%);
margin-bottom: 20px;}

.avatar_div{background-image: url(images/image-avatar.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
height: 35px;
width: 35px;
box-shadow: aqua;
font-weight: bold;
border: 2px solid white;
border-radius: 50%;}

.creator{display: inline-flex;}

.some_text{padding-top: 10px;
padding-left: 10px;}

.first_text{color: hsl(215, 51%, 70%);}

.second_text{color: hsl(0, 0%, 100%);}
.second_text:hover{color: hsl(178, 100%, 50%); 
    cursor: pointer;}

.line {
    width:  100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
    margin: 10px 0 20px 0;
}

    /*MOBILE DESIGN FOR MAX-WIDTH: 375PX*/
@media screen and (max-width: 375px) {
    body{width: 375px;
        margin: auto;
        margin-left: 13px;
} }